*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}
#hero{
    background-image: url("../assets/images/background-t.jpg");
    background-position: center;
    height: 600px;

}
.navbar-container{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding: 10px 20px;
    width: 100%;
    position: relative;
}

.logo{
    font-family: Aclonica;
    font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.links{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;

}

.buttons{
    display: flex;
    gap: 10px;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;

}