<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project-1</title>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
</head>
<body>
<!-- Navigation Bar -->
    <header class="navbar-container">

            <div class="logo">
                <p>Expensify</p>
            </div>

            <div class="links">
                <a href="#hero">Home</a>
                <a href="#features">Features</a>
                <a href="#">L3</a>
                <a href="#">L4</a>
            </div>

            <div class="buttons">
                <a href="#" class="get-started">Get Started</a> 
                <a href="#" class="login">Login</a>
            </div>

    </header>

    <main>
        
        <section id="hero">
            <div class="hero-content"> 
                <h1>Take Control of Your Expenses</h1> 
                <p> Track, analyze, and manage your spending based on your lifestyle. </p> 
            </div>
             <div class="top-bar">
        <p> Track • Analyze • Save </p>
    </div>
        </section>

        <section id="features">  
            <div class="feature-cards"> 
                <div class="card"> 
                    <h3>Visual Analytics</h3> 
                    <p>Understand your spending with charts</p> 
                </div> 
                <div class="card"> 
                    <h3>Smart Insights</h3> 
                    <p>Get actionable insights from your spending data</p> 
                </div> 
                <div class="card"> 
                    <h3>Auto Categorization</h3> 
                    <p>Smartly track repeated transactions</p> 
                </div> 
                <div class="card"> 
                    <h3>Secure Login</h3> 
                    <p>Your data is safe and protected</p> 
                </div> 
            </div> 
        </section>

    </main>
    
    <footer>

    </footer>

</body>
</html>