<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Get Started</title>

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

  <!-- Icons -->
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

  <link rel="stylesheet" href="../static/signup.css">
</head>

<body>

<div class="background-glow"></div>
<div class="background-glow-2"></div>

<div class="signup-container">

    <div class="signup-box">
        <h2>Get Started</h2>
        <p class="subtitle">Create your account</p>

    <form>

        <div class="input-group">
            <span class="material-symbols-outlined">person</span>
            <input type="text" required>
            <label>Full Name</label>
        </div>

        <div class="input-group">
            <span class="material-symbols-outlined">mail</span>
            <input type="email" required>
            <label>Email</label>
        </div>

        <div class="input-group">
            <span class="material-symbols-outlined">lock</span>
            <input type="password" required>
            <label>Password</label>
        </div>

        <div class="input-group">
            <span class="material-symbols-outlined">lock</span>
            <input type="password" required>
            <label>Confirm Password</label>
        </div>

        <button type="submit">Create Account</button>

    </form>

    <p class="login-text">
        Already have an account? <a href="../templates/login.html">Login</a>
    </p>

    </div>

</div>

</body>
</html>